<div class="titlepage">
    <p>Danh sách sản phẩm đăng bán</p>
</div>
<div class="box" nz-row nzType="flex" nzJustify="space-around">
    <div class="subbox" nz-col nzSpan="4">
        <nz-input-group [nzSuffix]="suffixTemplate">
            <input type="text" nz-input placeholder="Tên sản phẩm" />
        </nz-input-group>
        <ng-template #suffixTemplate><i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill"
                nzType="close-circle" *ngIf="inputValue" (click)="inputValue = null"></i></ng-template>
    </div>
    <div class="subbox" nz-col nzSpan="4">
        <nz-input-group [nzSuffix]="suffixTemplate">
            <input type="text" nz-input placeholder="Mã sản phẩm" />
        </nz-input-group>
        <ng-template #suffixTemplate><i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill"
                nzType="close-circle" *ngIf="inputValue" (click)="inputValue = null"></i></ng-template>
    </div>
    <div class="subbox" nz-col nzSpan="4">
        <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Trạng thái">
            <nz-option nzCustomContent nzLabel="Mac" nzValue="mac"><i nz-icon type="apple"></i>Hủy duyệt</nz-option>
            <nz-option nzCustomContent nzLabel="Android" nzValue="android"><i nz-icon type="android"></i> Đã duyệt
            </nz-option>
        </nz-select>
    </div>
    <div class="subbox" nz-col nzSpan="8">
        <nz-date-picker [nzDisabledDate]="disabledStartDate" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
            [(ngModel)]="startValue" nzPlaceHolder="Start" (ngModelChange)="onStartChange($event)"
            (nzOnOpenChange)="handleStartOpenChange($event)">
        </nz-date-picker>
        <nz-date-picker [nzDisabledDate]="disabledEndDate" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
            [(ngModel)]="endValue" nzPlaceHolder="End" [nzOpen]="endOpen" (ngModelChange)="onEndChange($event)"
            (nzOnOpenChange)="handleEndOpenChange($event)">
        </nz-date-picker>
    </div>
    <div class="subbox" nz-col nzSpan="2">
        <button nz-button nzType="primary"><i nz-icon type="search"></i>Tìm kiếm</button>
    </div>
    <div class="subbox" nz-col nzSpan="2">
        <button nz-button nzType="primary"><i nz-icon></i>Thêm sản phẩm</button>
    </div>
</div>
<div class="box">
    <nz-table #ajaxTable [nzData]="products$ | async" [nzLoading]="isLoadingResults$ | async" [nzTotal]="resultsLength$ | async" [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize" (nzPageIndexChange)="loadData()" (nzPageSizeChange)="loadData()">
        <thead>
            <tr>
                <th>STT</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Giá khuyến mãi</th>
                <th>Giá tối thiểu</th>
                <th>Ngày tạo</th>
                <th>Trạng thái ẩn/hiện</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.price }}</td>
                <td>{{ data.sale_percent }}</td>
                <td>{{ data.sale_percent }}</td>
                <td>{{ data.created_at | date: "dd-MM-yyyy HH:mm" }}</td>
                <td>
                    <nz-switch [(ngModel)]="switchValue"></nz-switch>
                </td>
                <td><button nz-button nzType="info" (click)="showConfirm()">Sửa</button>
                    <button nz-button nzType="dashed" (click)="showDeleteConfirm(data.id)">Xóa</button></td>
            </tr>
        </tbody>
    </nz-table>
</div>